.app {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid green;
  margin-top: 10px;
}
.parent {
  border: 1px solid blue;
  padding: 10px;
}
body {
  font-size: 13px;
}
button {
  margin: 0 5px;
}
